<?php
$host = 'localhost'; //localhost
$user = 'uStudentID';
$pass = 'password';
$db   = 'dbStudentID';

$conn = mysqli_connect($host, $user, $pass, $db);

if (!$conn) {
    die("Connection failed: " . mysqli_connect_error());
}

echo "Database connected successfully using mysqli!";
?>